{% extends "base.html" %}

{% load static %}

{% block page_content %}
<div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal text-lg-start" style="color: rgb(219, 235, 229); font-style: italic;">
        About Me
    </h1></br>
    <p class="lead font-weight-normal fs-4 lh-sm text-lg-start" style="color: rgb(219, 235, 229);">
        I like working in crossroads of technology, web applications, and many more.</br> 
        Over the past 3 years, I've had the chance to work with companies to build their websites, 
        help improve their functionality and provide better tech inputs.
        </p>
    <p class="lead font-weight-normal fs-4 lh-sm text-lg-start" style="color: rgb(219, 235, 229);">
        I am looking for a place where I can not only make an immediate impact but also grow professionally over time.</br>
        I am drawn to companies that foster innovation and embrace new ideas.</br>
        I thrive in an environment where I can collaborate with individuals from diverse backgrounds by sharing and learning new things.
        </p>
    <a class="btn btn-outline-secondary" href="/">Home</a>
  </div>

{% endblock %}