{% extends "base.html" %}

{% load static %}

{% block page_content %}

<div class="col-md-7">
    <h1 class="display-4 font-weight-normal text-lg-start" style="color: rgb(219, 235, 229); font-style: italic;">
        About Me
    </h1>
    <div style="width: 10px; float: right;">
        <img src="/img/aboutpic.jpg" height="400px" width="500px">
    </div>
    <p class="lead font-weight-normal fs-3 lh-sm text-lg-start" style="color: rgb(0, 0, 0); font-weight: 400;">
        I like working in crossroads of technology, web applications, and many more.</br> 
        Over the past 3 years, I've had the chance to work with companies to build their websites, 
        help improve their functionality and provide better tech inputs.
    </p>
    <p class="lead font-weight-normal fs-3 lh-sm text-lg-start" style="color: rgb(0, 0, 0); font-weight: 400;">
        I am looking for a place where I can not only make an immediate impact but also grow professionally over time.</br>
        I am drawn to companies that foster innovation and embrace new ideas.</br>
        I thrive in an environment where I can collaborate with individuals from diverse backgrounds by sharing and learning new things.
    </p>
</div>

<!-- <div>
    <a class="btn btn-primary" href="/">Home</a>
</div> -->

{% endblock %}