<!DOCTYPE html>
<html lang="en">
<head>
<title> Aayush Vashistha</title>
<link rel = "icon" href = "../img/Logo.jpg" type = "image/x-icon">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<!-- <link rel="stylesheet" href="/staticfiles/styles.css"> -->
<!-- <style>
 body{
    background-image: url('https://j.gifs.com/vQarrY.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}
</style> -->

<header>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa fa-fw fa-home"></i> Aayush Vashistha </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/work">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:aayush.vashistha@gmail.com">Get In Touch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
            <button type="button" class="btn btn-sm btn-outline-secondary" href="" title="CV" download="Aayush_Vashistha_CV.pdf">Download CV</button>
            </a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- Background gif -->
  <body>
    <div class="container-fluid p-5 text-white text-center" style="background-image: url('https://media.tenor.com/6ZUs587t-_YAAAAC/blue-heart-black.gif'); background-position: center; background-size: cover;">
     {% block page_content %}
     {% endblock %}
    </div>
  </body>
<!-- Background gif -->

    <footer class="text-center text-lg-start" style="background-color: black;">
      <div class="container d-flex justify-content-center py-5">
        <a button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;" href="https://www.linkedin.com/in/aayush-vashistha" target="_b">
          <i class="fab fa-linkedin-in"></i>
        </button></a>
        <a button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;" href="https://github.com/aayushvashistha" target="_b">
          <i class="fab fa-github"></i>
        </button></a>
        <!-- <a button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;" href="https://www.instagram.com/aayush_vashistha_/" target="_b">
          <i class="fab fa-instagram"></i>
        </button></a>
        <a button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;" href="https://twitter.com/Aayush52869231" target="_b">
          <i class="fab fa-twitter"></i>
        </button></a> -->
      </div>  
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://github.com/aayushvashistha" target="_b">Aayush Vashistha</a>
      </div>
      <!-- Copyright -->
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
