{% extends "base.html" %}

{% load static %}

{% block page_content %}
<div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal" style="color: rgb(219, 235, 229);">Hello! I am Aayush Vashistha</h1>
    <p class="lead font-weight-normal" style="color: rgb(219, 235, 229);">I am a skilled Software Engineer with expertise in building robust web applications using Django. I'm passionate about crafting efficient and scalable solutions. Visit my portfolio to explore my journey and achievements.</p>
    <a class="btn btn-outline-secondary" href="/work">Work</a>
  </div>
 {% endblock %}