{% extends "base.html" %}

{% load static %}

{% block page_content %}
<div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal" style="color: rgb(219, 235, 229); font-style: italic;">
        Hello! I am</br> Aayush Vashistha
    </h1></br>
    <p class="lead font-weight-normal fs-4 lh-sm" style="color: rgb(219, 235, 229);">
        I am a skilled <b>Software Engineer</b> with expertise in building robust web applications using Django. </br>
        However, I'm also passionate about <b>Data Engineering</b> and looking to build my future in this field  </br></br>
        Thanks for visiting my portfolio to explore my journey and achievements.
    </p>
    <a class="btn btn-outline-primary" href="/work">Work</a>
  </div>
 {% endblock %}