{% extends "base.html" %}

{% load static %}

{% block page_content %}

<div class="col-md-5 p-lg-5 mx-auto my-5">   
    <h1 class="display-4 font-weight-normal" style="color: rgb(219, 235, 229); font-style: italic;">
    <div id="elementEl">Hello! I am <br/> Aayush Vashistha</div>
        <!-- Hello! I am</br> Aayush Vashistha -->
    </h1>
    <script>
        'use strict';
        
        function typeWriter(el) {
            const textArray = el.innerText.split('');
            el.innerText = '';
            textArray.forEach((letter, i) =>
                setTimeout(() => (el.innerText += letter), 95 * i)
            );
        
            setInterval(() => typeWriter(el), 8000);
        }
        
        const elementEl = document.getElementById('elementEl');
        typeWriter(elementEl);
        
        </script>        

    <p class="lead font-weight-normal fs-4 lh-sm" style="color: rgb(140, 145, 148);">
        I am a skilled <b>Software Engineer</b> with expertise in building robust web applications using Django. </br>
        However, I'm also passionate about <b>Data Engineering</b> and looking to build my future in this field  </br></br>
        Thanks for visiting my portfolio to explore my journey and achievements
    </p>
</div>

<style>
       
    #stocks-list {
        margin-right: 2000px; /* Adjust the margin as needed */
    }
</style>

{% if result_dict %}
<div id="stocks-list">
    <h4 style="color: grey;">Stock Price</h4>
<ul style="list-style: none; color: grey">

    {% for stock, price in result_dict.items %}
        <li><strong>{{ stock }}:</strong> {{ price|floatformat:2 }}</li>
    {% endfor %}
</ul>
</div>
{% else %}
    <p>No data available.</p>
{% endif %}

<div>
    <a class="btn btn-primary" href="/work">Check my work section</a>
</div>

{% endblock %}